body{
background-color: rgb(206, 204, 224);
color: white;
}

.navbar{
  background-color: rgb(10, 57, 144);
  border: 10px solid black;
}



.brand-image{
 border-radius: 30%;
 padding: auto;
 width: 110px;
}

.header-tex-image{
  width:120px;
 border-radius:50px;
 margin-right: 10px;
}

.header-text{
 color: rgb(235, 216, 216);
 font-size: 40px;
 margin-top: auto;
 margin-bottom: auto;
 font-weight: bold;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: wheat;
} 

.form-control{
  text-align: center;
  padding-left: auto;
  width: 80%;
  border: 2px rgb(12, 9, 9) solid;
  color:black;
}


.selectedMode{
  font-size: 20px;
  border:5px solid black ;
  width: fit-content;
  background-color: blue;
  color: white;
  font-family: 'Merriweather', serif;
  text-align: center;
}

@media(max-width:1000px){
  img{
    display: none;
  }
  
}