body{
background-color: rgb(206, 204, 224);
color: white;
}

.navbar{
  background-color: rgb(144, 10, 10);
}

.brand-image{
 border-radius: 30%;
 padding: auto;
 width: 110px;
}

.header-tex-image{
  width:120px;
 border-radius:50px;
 margin-right: 10px;
}

.header-text{
 color: rgb(236, 231, 231);
 font-size: 40px;
 margin-top: auto;
 margin-bottom: auto;
 font-weight: bold;
}
a{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: wheat;
} 

.form-control{
  text-align: center;
  padding-left: auto;
  width: 80%;
  border: 2px rgb(151, 81, 76) solid;
  color:black;
}

.nameVehicle{
  color: black;
  font-size: 40px;
}